.button{
  background:linear-gradient(#7DEEFF, #66B5E8);
  border:none;
  padding:12px;
  background-color:#F0F1F6;
  border-radius:10px 10px 10px 10px;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 1);
  margin-left:auto;
  display:block;
  margin-bottom:20px;
}