#home .content{
  height:100vh;
  overflow-y:auto;
  padding:12px;
  padding-bottom:35vh;
}

#home .title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  width:70%;
}

#home .checkbox{
  height:27px;
}

#home .checkbox svg{
  height:100%;
  width:auto;
}

#home .swiper-pagination{
  position:fixed;
  bottom:0;
  display:flex;
  justify-content: space-evenly;
  background-color:#F0F1F6;
  padding:12px;
  z-index:10;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 1);
}


#home .swiper-pagination .swiper-pagination-bullet{
  margin:0 0px;
}

#home{
  margin-top:5vh;
}

@media (min-width:1200px){
  #home .swiper-slide{
    opacity:0.3;
    transition:0.3s;
    width:40vw !important;
    padding-left:100px;
    padding-right: 100px;
  }
  #home .swiper-slide-active{
    opacity:1;
  }
}