.padding-page{
  padding:12px;
}

#home .swiper-pagination{
  position:fixed;
  bottom:0;
}

#home .swiper-pagination{
  display:flex;
  justify-content: space-evenly;
  background-color:#F0F1F6;
  padding:12px;
  z-index:10;
}

#home .swiper-pagination .swiper-pagination-bullet{
  margin:0 0px;
}

#home .swiper-pagination .swiper-pagination-bullet-active{
  width:100px;
  transition:0.2s;
  border-radius:10px;
}