*{
  box-sizing: border-box;
  color:#303030;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
  display:inline-block;
}

h1{
  font-size:48px;
  font-weight: 400;
}

.App{
  width:100vw;
  background-color:#F0F1F6;
  height:100vh;
  overflow-y:hidden;
}

.App .introduction-image{
  height:30vh;
  display:block;
  margin:auto;
}

.App .introduction-page{
  padding:0vh 12px 5vh;
}

.App .input-field{
  width:100%;
  border:none;
  padding:12px;
  background-color:#F0F1F6;
  border-radius:10px 10px 10px 10px;
  box-shadow:inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 1);
  margin-bottom:25px;
}

.App .submit-button{
  background:linear-gradient(#7DEEFF, #66B5E8);
  border:none;
  padding:12px;
  background-color:#F0F1F6;
  border-radius:10px 10px 10px 10px;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 1);
  margin-left:auto;
  display:block;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet{
  background-color:#F0F1F6;
  width:12px;
  height:12px;
  box-shadow:inset 1px 1px 0px rgba(0, 0, 0, 1), inset -1px -1px 0px rgba(255, 255, 255, 1);
}

.swiper-container .swiper-pagination .swiper-pagination-bullet-active{
  background-color:#F0F1F6;
  width:12px;
  height:12px;
  box-shadow:1px 1px 0px rgba(0, 0, 0, 0.4), -1px -1px 0px rgba(255, 255, 255, 1);
}